*.a
*.dat
*genmod*
*.log
*.mod
*.o
*.so
*.dylib
*.out*
*.p
*.pyc
*.th_o
*.reg
.deps
.dirstamp

autom4te.cache
config.h
config.h.in~
config.log
config.status
Makefile
Manifest.toml
stamp-h1

build
html
latex
xml

temps
